<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A.ss03</key>
    <string>A_.ss03.glif</string>
    <key>A.ss04</key>
    <string>A_.ss04.glif</string>
    <key>A.ss05</key>
    <string>A_.ss05.glif</string>
    <key>B.ss03</key>
    <string>B_.ss03.glif</string>
    <key>B.ss04</key>
    <string>B_.ss04.glif</string>
    <key>B.ss05</key>
    <string>B_.ss05.glif</string>
    <key>C.ss03</key>
    <string>C_.ss03.glif</string>
    <key>C.ss04</key>
    <string>C_.ss04.glif</string>
    <key>C.ss05</key>
    <string>C_.ss05.glif</string>
    <key>D.ss03</key>
    <string>D_.ss03.glif</string>
    <key>D.ss04</key>
    <string>D_.ss04.glif</string>
    <key>D.ss05</key>
    <string>D_.ss05.glif</string>
    <key>E.ss03</key>
    <string>E_.ss03.glif</string>
    <key>E.ss04</key>
    <string>E_.ss04.glif</string>
    <key>E.ss05</key>
    <string>E_.ss05.glif</string>
    <key>F.ss03</key>
    <string>F_.ss03.glif</string>
    <key>F.ss04</key>
    <string>F_.ss04.glif</string>
    <key>F.ss05</key>
    <string>F_.ss05.glif</string>
    <key>G.ss03</key>
    <string>G_.ss03.glif</string>
    <key>G.ss04</key>
    <string>G_.ss04.glif</string>
    <key>G.ss05</key>
    <string>G_.ss05.glif</string>
    <key>H.ss03</key>
    <string>H_.ss03.glif</string>
    <key>H.ss04</key>
    <string>H_.ss04.glif</string>
    <key>H.ss05</key>
    <string>H_.ss05.glif</string>
    <key>I.ss04</key>
    <string>I_.ss04.glif</string>
    <key>J.ss04</key>
    <string>J_.ss04.glif</string>
    <key>K.ss03</key>
    <string>K_.ss03.glif</string>
    <key>K.ss04</key>
    <string>K_.ss04.glif</string>
    <key>K.ss05</key>
    <string>K_.ss05.glif</string>
    <key>L.ss03</key>
    <string>L_.ss03.glif</string>
    <key>L.ss04</key>
    <string>L_.ss04.glif</string>
    <key>L.ss05</key>
    <string>L_.ss05.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>M.ss03</key>
    <string>M_.ss03.glif</string>
    <key>M.ss04</key>
    <string>M_.ss04.glif</string>
    <key>M.ss05</key>
    <string>M_.ss05.glif</string>
    <key>N.ss04</key>
    <string>N_.ss04.glif</string>
    <key>O.ss03</key>
    <string>O_.ss03.glif</string>
    <key>O.ss04</key>
    <string>O_.ss04.glif</string>
    <key>O.ss05</key>
    <string>O_.ss05.glif</string>
    <key>P.ss03</key>
    <string>P_.ss03.glif</string>
    <key>P.ss04</key>
    <string>P_.ss04.glif</string>
    <key>P.ss05</key>
    <string>P_.ss05.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ss03</key>
    <string>Q_.ss03.glif</string>
    <key>Q.ss04</key>
    <string>Q_.ss04.glif</string>
    <key>Q.ss05</key>
    <string>Q_.ss05.glif</string>
    <key>R.ss03</key>
    <string>R_.ss03.glif</string>
    <key>R.ss04</key>
    <string>R_.ss04.glif</string>
    <key>R.ss05</key>
    <string>R_.ss05.glif</string>
    <key>S.ss03</key>
    <string>S_.ss03.glif</string>
    <key>S.ss04</key>
    <string>S_.ss04.glif</string>
    <key>S.ss05</key>
    <string>S_.ss05.glif</string>
    <key>T.ss03</key>
    <string>T_.ss03.glif</string>
    <key>T.ss04</key>
    <string>T_.ss04.glif</string>
    <key>T.ss05</key>
    <string>T_.ss05.glif</string>
    <key>U.ss03</key>
    <string>U_.ss03.glif</string>
    <key>U.ss04</key>
    <string>U_.ss04.glif</string>
    <key>U.ss05</key>
    <string>U_.ss05.glif</string>
    <key>V.ss03</key>
    <string>V_.ss03.glif</string>
    <key>V.ss04</key>
    <string>V_.ss04.glif</string>
    <key>V.ss05</key>
    <string>V_.ss05.glif</string>
    <key>X.ss03</key>
    <string>X_.ss03.glif</string>
    <key>X.ss04</key>
    <string>X_.ss04.glif</string>
    <key>X.ss05</key>
    <string>X_.ss05.glif</string>
    <key>Y.ss03</key>
    <string>Y_.ss03.glif</string>
    <key>Y.ss04</key>
    <string>Y_.ss04.glif</string>
    <key>Y.ss05</key>
    <string>Y_.ss05.glif</string>
    <key>Z.ss04</key>
    <string>Z_.ss04.glif</string>
    <key>_quadriliumstroke</key>
    <string>_quadriliumstroke.glif</string>
    <key>_sferiliumstroke</key>
    <string>_sferiliumstroke.glif</string>
    <key>eight.ss03</key>
    <string>eight.ss03.glif</string>
    <key>eight.ss05</key>
    <string>eight.ss05.glif</string>
    <key>guillemetright.case</key>
    <string>guillemetright.case.glif</string>
    <key>one.ss03</key>
    <string>one.ss03.glif</string>
    <key>one.ss05</key>
    <string>one.ss05.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>zero.ss03</key>
    <string>zero.ss03.glif</string>
    <key>zero.ss05</key>
    <string>zero.ss05.glif</string>
  </dict>
</plist>
