<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>B.ss04</key>
    <string>B_.ss04.glif</string>
    <key>C.ss04</key>
    <string>C_.ss04.glif</string>
    <key>D.ss04</key>
    <string>D_.ss04.glif</string>
    <key>E.ss04</key>
    <string>E_.ss04.glif</string>
    <key>F.ss04</key>
    <string>F_.ss04.glif</string>
    <key>G.ss04</key>
    <string>G_.ss04.glif</string>
    <key>H.ss04</key>
    <string>H_.ss04.glif</string>
    <key>I.ss04</key>
    <string>I_.ss04.glif</string>
    <key>J.ss04</key>
    <string>J_.ss04.glif</string>
    <key>K.ss04</key>
    <string>K_.ss04.glif</string>
    <key>L.ss04</key>
    <string>L_.ss04.glif</string>
    <key>M.ss04</key>
    <string>M_.ss04.glif</string>
    <key>N.ss04</key>
    <string>N_.ss04.glif</string>
    <key>O.ss04</key>
    <string>O_.ss04.glif</string>
    <key>P.ss04</key>
    <string>P_.ss04.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.ss03</key>
    <string>Q_.ss03.glif</string>
    <key>Q.ss05</key>
    <string>Q_.ss05.glif</string>
    <key>R.ss04</key>
    <string>R_.ss04.glif</string>
    <key>S.ss04</key>
    <string>S_.ss04.glif</string>
    <key>T.ss04</key>
    <string>T_.ss04.glif</string>
    <key>U.ss04</key>
    <string>U_.ss04.glif</string>
    <key>V.ss04</key>
    <string>V_.ss04.glif</string>
    <key>X.ss04</key>
    <string>X_.ss04.glif</string>
    <key>Y.ss04</key>
    <string>Y_.ss04.glif</string>
    <key>Z.ss04</key>
    <string>Z_.ss04.glif</string>
    <key>_sferilium</key>
    <string>_sferilium.glif</string>
    <key>_sferiliumstroke</key>
    <string>_sferiliumstroke.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bdotaccent</key>
    <string>bdotaccent.glif</string>
    <key>blackCircle</key>
    <string>blackC_ircle.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>dcedilla</key>
    <string>dcedilla.glif</string>
    <key>ddotaccent</key>
    <string>ddotaccent.glif</string>
    <key>ddotbelow</key>
    <string>ddotbelow.glif</string>
    <key>dmacronbelow</key>
    <string>dmacronbelow.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>four.ss03</key>
    <string>four.ss03.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>pdotaccent</key>
    <string>pdotaccent.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>two.ss03</key>
    <string>two.ss03.glif</string>
    <key>zero.blackCircled</key>
    <string>zero.blackC_ircled.glif</string>
    <key>zero.ss03</key>
    <string>zero.ss03.glif</string>
  </dict>
</plist>
