<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss03</key>
	<string>A_.ss03.glif</string>
	<key>A.ss04</key>
	<string>A_.ss04.glif</string>
	<key>A.ss05</key>
	<string>A_.ss05.glif</string>
	<key>A.ss06</key>
	<string>A_.ss06.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss03</key>
	<string>B_.ss03.glif</string>
	<key>B.ss04</key>
	<string>B_.ss04.glif</string>
	<key>B.ss05</key>
	<string>B_.ss05.glif</string>
	<key>B.ss06</key>
	<string>B_.ss06.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>C.ss03</key>
	<string>C_.ss03.glif</string>
	<key>C.ss04</key>
	<string>C_.ss04.glif</string>
	<key>C.ss05</key>
	<string>C_.ss05.glif</string>
	<key>C.ss06</key>
	<string>C_.ss06.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>D.ss03</key>
	<string>D_.ss03.glif</string>
	<key>D.ss04</key>
	<string>D_.ss04.glif</string>
	<key>D.ss05</key>
	<string>D_.ss05.glif</string>
	<key>D.ss06</key>
	<string>D_.ss06.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss03</key>
	<string>E_.ss03.glif</string>
	<key>E.ss04</key>
	<string>E_.ss04.glif</string>
	<key>E.ss05</key>
	<string>E_.ss05.glif</string>
	<key>E.ss06</key>
	<string>E_.ss06.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>F.ss03</key>
	<string>F_.ss03.glif</string>
	<key>F.ss04</key>
	<string>F_.ss04.glif</string>
	<key>F.ss05</key>
	<string>F_.ss05.glif</string>
	<key>F.ss06</key>
	<string>F_.ss06.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss03</key>
	<string>G_.ss03.glif</string>
	<key>G.ss04</key>
	<string>G_.ss04.glif</string>
	<key>G.ss05</key>
	<string>G_.ss05.glif</string>
	<key>G.ss06</key>
	<string>G_.ss06.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss03</key>
	<string>H_.ss03.glif</string>
	<key>H.ss04</key>
	<string>H_.ss04.glif</string>
	<key>H.ss05</key>
	<string>H_.ss05.glif</string>
	<key>H.ss06</key>
	<string>H_.ss06.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>K.ss03</key>
	<string>K_.ss03.glif</string>
	<key>K.ss04</key>
	<string>K_.ss04.glif</string>
	<key>K.ss05</key>
	<string>K_.ss05.glif</string>
	<key>K.ss06</key>
	<string>K_.ss06.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss03</key>
	<string>L_.ss03.glif</string>
	<key>L.ss04</key>
	<string>L_.ss04.glif</string>
	<key>L.ss05</key>
	<string>L_.ss05.glif</string>
	<key>L.ss06</key>
	<string>L_.ss06.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.ss03</key>
	<string>M_.ss03.glif</string>
	<key>M.ss04</key>
	<string>M_.ss04.glif</string>
	<key>M.ss05</key>
	<string>M_.ss05.glif</string>
	<key>M.ss06</key>
	<string>M_.ss06.glif</string>
	<key>Nhookleft</key>
	<string>N_hookleft.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss03</key>
	<string>O_.ss03.glif</string>
	<key>O.ss04</key>
	<string>O_.ss04.glif</string>
	<key>O.ss05</key>
	<string>O_.ss05.glif</string>
	<key>O.ss06</key>
	<string>O_.ss06.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>P.ss03</key>
	<string>P_.ss03.glif</string>
	<key>P.ss04</key>
	<string>P_.ss04.glif</string>
	<key>P.ss05</key>
	<string>P_.ss05.glif</string>
	<key>P.ss06</key>
	<string>P_.ss06.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss03</key>
	<string>Q_.ss03.glif</string>
	<key>Q.ss04</key>
	<string>Q_.ss04.glif</string>
	<key>Q.ss05</key>
	<string>Q_.ss05.glif</string>
	<key>Q.ss06</key>
	<string>Q_.ss06.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss03</key>
	<string>R_.ss03.glif</string>
	<key>R.ss04</key>
	<string>R_.ss04.glif</string>
	<key>R.ss05</key>
	<string>R_.ss05.glif</string>
	<key>R.ss06</key>
	<string>R_.ss06.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss03</key>
	<string>S_.ss03.glif</string>
	<key>S.ss04</key>
	<string>S_.ss04.glif</string>
	<key>S.ss05</key>
	<string>S_.ss05.glif</string>
	<key>S.ss06</key>
	<string>S_.ss06.glif</string>
	<key>Schwa</key>
	<string>S_chwa.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>T.ss03</key>
	<string>T_.ss03.glif</string>
	<key>T.ss04</key>
	<string>T_.ss04.glif</string>
	<key>T.ss05</key>
	<string>T_.ss05.glif</string>
	<key>T.ss06</key>
	<string>T_.ss06.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>U.ss03</key>
	<string>U_.ss03.glif</string>
	<key>U.ss04</key>
	<string>U_.ss04.glif</string>
	<key>U.ss05</key>
	<string>U_.ss05.glif</string>
	<key>U.ss06</key>
	<string>U_.ss06.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.ss03</key>
	<string>V_.ss03.glif</string>
	<key>V.ss04</key>
	<string>V_.ss04.glif</string>
	<key>V.ss05</key>
	<string>V_.ss05.glif</string>
	<key>V.ss06</key>
	<string>V_.ss06.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.ss03</key>
	<string>X_.ss03.glif</string>
	<key>X.ss04</key>
	<string>X_.ss04.glif</string>
	<key>X.ss05</key>
	<string>X_.ss05.glif</string>
	<key>X.ss06</key>
	<string>X_.ss06.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Y.ss03</key>
	<string>Y_.ss03.glif</string>
	<key>Y.ss04</key>
	<string>Y_.ss04.glif</string>
	<key>Y.ss05</key>
	<string>Y_.ss05.glif</string>
	<key>Y.ss06</key>
	<string>Y_.ss06.glif</string>
	<key>_quadriliumstroke</key>
	<string>_quadriliumstroke.glif</string>
	<key>_sferiliumstroke</key>
	<string>_sferiliumstroke.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>caroncomb.alt</key>
	<string>caroncomb.alt.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>commaabovecomb</key>
	<string>commaabovecomb.glif</string>
	<key>commaabovecomb.case</key>
	<string>commaabovecomb.case.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>ddotaccent</key>
	<string>ddotaccent.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.dnom</key>
	<string>eight.dnom.glif</string>
	<key>eight.pnum</key>
	<string>eight.pnum.glif</string>
	<key>eight.ss03</key>
	<string>eight.ss03.glif</string>
	<key>eight.ss04</key>
	<string>eight.ss04.glif</string>
	<key>eight.ss05</key>
	<string>eight.ss05.glif</string>
	<key>eight.ss06</key>
	<string>eight.ss06.glif</string>
	<key>eight.tf</key>
	<string>eight.tf.glif</string>
	<key>eopen</key>
	<string>eopen.glif</string>
	<key>fdotaccent</key>
	<string>fdotaccent.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.calt</key>
	<string>germandbls.calt.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.case</key>
	<string>gravecomb.case.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcaron</key>
	<string>kcaron.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss02</key>
	<string>l.ss02.glif</string>
	<key>lslashcomb</key>
	<string>lslashcomb.glif</string>
	<key>lslashcomb.ss02</key>
	<string>lslashcomb.ss02.glif</string>
	<key>nine.pnum</key>
	<string>nine.pnum.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.pnum</key>
	<string>one.pnum.glif</string>
	<key>one.ss03</key>
	<string>one.ss03.glif</string>
	<key>one.ss04</key>
	<string>one.ss04.glif</string>
	<key>one.ss05</key>
	<string>one.ss05.glif</string>
	<key>one.ss06</key>
	<string>one.ss06.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeI_ndian.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slashshortcomb_L</key>
	<string>slashshortcomb_L_.glif</string>
	<key>slashshortcomb_l</key>
	<string>slashshortcomb_l.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecomb.case</key>
	<string>tildecomb.case.glif</string>
	<key>upArrow</key>
	<string>upA_rrow.glif</string>
	<key>x</key>
	<string>x.glif</string>
</dict>
</plist>
