<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>Eopen</key>
	<string>E_open.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss05</key>
	<string>Q_.ss05.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Schwa</key>
	<string>S_chwa.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>acutecomb.case</key>
	<string>acutecomb.case.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>at</key>
	<string>at.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>commaabovecomb.case</key>
	<string>commaabovecomb.case.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>dieresiscomb.case</key>
	<string>dieresiscomb.case.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.tf</key>
	<string>eight.tf.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.case</key>
	<string>guilsinglleft.case.glif</string>
	<key>hryvnia</key>
	<string>hryvnia.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>leftRightArrow</key>
	<string>leftR_ightA_rrow.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>lslashcomb.ss02</key>
	<string>lslashcomb.ss02.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.dnom</key>
	<string>nine.dnom.glif</string>
	<key>nine.pnum</key>
	<string>nine.pnum.glif</string>
	<key>nine.tf</key>
	<string>nine.tf.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>ordfeminine</key>
	<string>ordfeminine.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>ringcomb.case</key>
	<string>ringcomb.case.glif</string>
	<key>ruble</key>
	<string>ruble.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeI_ndian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.tf</key>
	<string>seven.tf.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>slashshortcomb_L</key>
	<string>slashshortcomb_L_.glif</string>
	<key>slashshortcomb_l</key>
	<string>slashshortcomb_l.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three.dnom</key>
	<string>three.dnom.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>two.dnom</key>
	<string>two.dnom.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>upArrow</key>
	<string>upA_rrow.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.blackCircled</key>
	<string>zero.blackC_ircled.glif</string>
	<key>zero.tf</key>
	<string>zero.tf.glif</string>
	<key>zero.zero</key>
	<string>zero.zero.glif</string>
</dict>
</plist>
