<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>A.ss03</key>
	<string>A_.ss03.glif</string>
	<key>A.ss04</key>
	<string>A_.ss04.glif</string>
	<key>A.ss05</key>
	<string>A_.ss05.glif</string>
	<key>A.ss06</key>
	<string>A_.ss06.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss03</key>
	<string>B_.ss03.glif</string>
	<key>B.ss04</key>
	<string>B_.ss04.glif</string>
	<key>B.ss05</key>
	<string>B_.ss05.glif</string>
	<key>B.ss06</key>
	<string>B_.ss06.glif</string>
	<key>Eng</key>
	<string>E_ng.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss03</key>
	<string>G_.ss03.glif</string>
	<key>G.ss04</key>
	<string>G_.ss04.glif</string>
	<key>G.ss05</key>
	<string>G_.ss05.glif</string>
	<key>G.ss06</key>
	<string>G_.ss06.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>J.ss03</key>
	<string>J_.ss03.glif</string>
	<key>J.ss04</key>
	<string>J_.ss04.glif</string>
	<key>J.ss05</key>
	<string>J_.ss05.glif</string>
	<key>J.ss06</key>
	<string>J_.ss06.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.ss03</key>
	<string>M_.ss03.glif</string>
	<key>M.ss04</key>
	<string>M_.ss04.glif</string>
	<key>M.ss05</key>
	<string>M_.ss05.glif</string>
	<key>M.ss06</key>
	<string>M_.ss06.glif</string>
	<key>Nhookleft</key>
	<string>N_hookleft.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>Q.ss03</key>
	<string>Q_.ss03.glif</string>
	<key>Q.ss04</key>
	<string>Q_.ss04.glif</string>
	<key>Q.ss05</key>
	<string>Q_.ss05.glif</string>
	<key>Q.ss06</key>
	<string>Q_.ss06.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss03</key>
	<string>S_.ss03.glif</string>
	<key>S.ss04</key>
	<string>S_.ss04.glif</string>
	<key>S.ss05</key>
	<string>S_.ss05.glif</string>
	<key>S.ss06</key>
	<string>S_.ss06.glif</string>
	<key>Schwa</key>
	<string>S_chwa.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>V.ss03</key>
	<string>V_.ss03.glif</string>
	<key>V.ss04</key>
	<string>V_.ss04.glif</string>
	<key>V.ss05</key>
	<string>V_.ss05.glif</string>
	<key>V.ss06</key>
	<string>V_.ss06.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>W.ss03</key>
	<string>W_.ss03.glif</string>
	<key>W.ss04</key>
	<string>W_.ss04.glif</string>
	<key>W.ss05</key>
	<string>W_.ss05.glif</string>
	<key>W.ss06</key>
	<string>W_.ss06.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>X.ss03</key>
	<string>X_.ss03.glif</string>
	<key>X.ss04</key>
	<string>X_.ss04.glif</string>
	<key>X.ss05</key>
	<string>X_.ss05.glif</string>
	<key>X.ss06</key>
	<string>X_.ss06.glif</string>
	<key>_sferiliumstroke</key>
	<string>_sferiliumstroke.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>asciitilde</key>
	<string>asciitilde.glif</string>
	<key>bdotaccent</key>
	<string>bdotaccent.glif</string>
	<key>caroncomb.alt</key>
	<string>caroncomb.alt.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaabovecomb</key>
	<string>commaabovecomb.glif</string>
	<key>commaabovecomb.case</key>
	<string>commaabovecomb.case.glif</string>
	<key>copyright</key>
	<string>copyright.glif</string>
	<key>ddotaccent</key>
	<string>ddotaccent.glif</string>
	<key>dottedCircle</key>
	<string>dottedC_ircle.glif</string>
	<key>eopen</key>
	<string>eopen.glif</string>
	<key>fdotaccent</key>
	<string>fdotaccent.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.calt</key>
	<string>germandbls.calt.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglleft.case</key>
	<string>guilsinglleft.case.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hryvnia</key>
	<string>hryvnia.glif</string>
	<key>kcaron</key>
	<string>kcaron.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>l.ss02</key>
	<string>l.ss02.glif</string>
	<key>lslashcomb</key>
	<string>lslashcomb.glif</string>
	<key>lslashcomb.ss02</key>
	<string>lslashcomb.ss02.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.dnom</key>
	<string>one.dnom.glif</string>
	<key>one.pnum</key>
	<string>one.pnum.glif</string>
	<key>one.ss03</key>
	<string>one.ss03.glif</string>
	<key>one.ss04</key>
	<string>one.ss04.glif</string>
	<key>one.ss05</key>
	<string>one.ss05.glif</string>
	<key>one.ss06</key>
	<string>one.ss06.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>rupeeIndian</key>
	<string>rupeeI_ndian.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>slashlongcomb</key>
	<string>slashlongcomb.glif</string>
	<key>slashshortcomb_L</key>
	<string>slashshortcomb_L_.glif</string>
	<key>slashshortcomb_l</key>
	<string>slashshortcomb_l.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecomb.case</key>
	<string>tildecomb.case.glif</string>
	<key>upArrow</key>
	<string>upA_rrow.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zero.zero</key>
	<string>zero.zero.glif</string>
</dict>
</plist>
